<template name="chat">
        <header>
        <audio id='soundNot' src="sounds/sound.mp3" preload="auto"></audio>
        <div class="container">
            <div class="row">
                <div class="myProfile" >
                    <div class="myProfilePic">
                        {{#if getUserAvatar }}
                             <img class="picInner show_hide" id='show_hide' style="display:block" src="{{getUserAvatar.url store='images'}}" alt="">
                        {{ else }}
                            <img class="picInner show_hide" id='show_hide' style="display:block" src="img/default_pic.png" alt="">
                        {{/if}}
                    </div>
                    <div class="myProfileNick"><span>{{currentUser.username}}</span></div>
                    <div class="settings" style="display:none">
                        <form id='changeForm' method="POST">
                            <h3>Update Information</h3>
                            <hr>
                            <h5>Photo</h5>
                            <input type="file" class="select_pic avatarInput">
                            <h5>Username</h5>
                            <input class="set_form" id='update-username' value='{{currentUser.username}}' required type="text" placeHolder="Username">
                            <h5>Change Secret Key (Optional)</h5>
                            <input class="set_form" id='new-password' type="password" placeHolder="New Key">

                            <button type="submit">Save</button>
                            <button id='logoutAction' style="margin-bottom:10px">Logout</button>
                            <button class='show_hide' style="margin-bottom:5px">Close</button>
                        </form>
                    </div>

                </div>

                <div class="logo  text-center">
                        <img class="col-centered" src="img/360.png" alt="">
                </div>
            </div>
        </div>
    </header>
    {{#if session "talking"}}

    <div class="container">
        <div class="row ">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-centered">
                {{#if session "avatarId" }}
                    <div class="ratio img-responsive img-circle " id="img_profile" style="background-image: url({{getOtherUserAvatar.url store='images'}});"></div>
                 {{ else }}
                    <div class="ratio img-responsive img-circle " id="img_profile" style="background-image: url(img/default_pic.png);"></div>
                {{/if}}
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                <div class="anonimName">anonim</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            <div class="seconds pull-right">
                <span class="second">
                    {{#if timeLeft }}{{ timeLeft }}{{ else }}   ∭  {{/if}}
                </span>
                <strong id="string_seconds">seconds</strong>
            </div>
            <div class="nextnext pull-right" style="margin-left:10px">
                <button class="next_button" id='next'>Next</button>
            </div>
                <div class="chat_status">
                    <ul>
                        {{#if session "sound" }}
                            <li class="sound_off" id='changeSound'>
                                <a href="#" title="Mute"></a>
                            </li>
                        {{ else }}
                            <li class="sound_off sound_on" id='changeSound'>
                                <a href="#" title="Mute"></a>
                            </li>
                        {{/if}}

                        {{#if session "typing" }}
                            <li class="typing"><i title="Typing...">typing...</i></li>
                        {{/if}}
                    </ul>
                </div>
                <form id='form360'>
                    <input type="text" id="input360" placeHolder="Type your message here..." autocomplete='off' />
                </form>
            </div>
        </div>

        {{#with messages}}
        {{#if count}}
        <div class="row" style="background-color:#fff; padding:10px; margin-left: 3px; width: 100%; margin-bottom:25px; border: 1px solid rgba(0, 0, 0, 0.15);">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <ul class="chat">
                            {{#each messages}}
                                {{>message}}
                            {{/each}}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        {{/if}}
        {{/with}}

    </div>
    {{ else }}
        {{#if session "searching" }}
            <div class="container">
                <div class="row ">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-centered">
                        <div id="don" class="rotating ratio img-responsive img-circle " style="background-image: url(img/searching.png); cursor: pointer"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                        <div class="searching_text">Searching...</div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class='container'>
            <div class='row'>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="ratio img-responsive img-circle ping" id="img_profile" style="background-image: url(img/searching.png); cursor: pointer"></div>
        </div>
            </div>
            <div class="row ">
                <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                    <div class="searching_text">Search</div>
                </div>
            </div>
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="message">
    {{#if hasOwner from}}
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">{{ from }}</strong>
                </div>
                <p>{{body}}</p>
            </div>
        </li>
    {{else }}
        <li class="right clearfix">
            <span class="chat-img pull-right">
                <img src="http://placehold.it/50/55C1E7/fff&text=ANON" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="pull-right primary-font">{{ from }}</strong>
                </div>
                <p>{{body}}</p>
            </div>
        </li>
    {{/if}}
</template>
