<template name="chat">
        <header>
        <div class="container">
            <div class="row">
                <div class="myProfile" >
                    <div class="myProfilePic">
                            <img class="picInner show_hide" id='show_hide' style="display:block" src="img/default_pic.png" alt="">
                            <span>{{ session }}</span>
                    </div>
                    <div class="myProfileNick"><span>{{currentUser.username}}</span></div>
                    <div class="settings" style="display:none">
                        <form id='changeForm' method="POST">
                            <h3>Update Information</h3>
                            <hr>
                            <h5>Photo</h5>
                            <input type="file" class="select_pic">
                            <h5>Username</h5>
                            <input class="set_form" id='update-username' value='{{currentUser.username}}' required type="text" placeHolder="Username">
                            <h5>Change Secret Key (Optional)</h5>
                            <input class="set_form" id='new-password' type="password" placeHolder="New Key">
                            <input required class="set_form" id='current-password' type="password" placeHolder="Current Secret Key">

                            <button type="submit">Save</button>
                            <button id='logoutAction' style="margin-bottom:10px">Logout</button>

                            <span style='color: #000'>
                            {{#if infoMessage}}
                                {{infoMessage}} <a href="#" id='close-message'> (X)</a>
                            {{/if}}
                            </span>
                        </form>
                    </div>

                </div>

                <div class="logo  text-center">
                        <img class="col-centered" src="img/360.png" alt="">
                </div>
            </div>
        </div>
    </header>
    {{#if isTalking}}

    <div class="container">
        <div class="row ">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-centered">
                {{#if getAvatar}}
                    <div class="ratio img-responsive img-circle " id="img_profile" style="background-image: url(uploads/avatar/{{ getAvatar }});"></div>
                 {{ else }}
                    <div class="ratio img-responsive img-circle " id="img_profile" style="background-image: url(img/default_pic.png);"></div>
                {{/if}}
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                <div class="anonimName">anonim</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            <div class="seconds pull-right">
                <span class="second">360</span>
                <strong id="string_seconds">seconds</strong>
            </div>
            <div class="nextnext pull-right" style="margin-left:10px">
                <button class="next_button" id='next'>Next</button>
            </div>
                <div class="chat_status">
                    <ul>
                        <li class="sound_off"><a href="#"  title="Mute"></a></li>
                        <li class="typing"><i title="Typing...">typing...</i></li>
                    </ul>
                </div>
                <form id='form360'>
                    <input type="text" id="input360" placeHolder="Please...">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="messagemessage">
                    <tbody>
                        {{#each messages}}
                            {{>message}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ else }}
        {{#if isSearching }}
            <div class="container">
                <div class="row ">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-centered">
                        <div  id="don" class="rotating ratio img-responsive img-circle " style="background-image: url(img/searching.png);"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                        <div class="searching_text">Searching...</div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class='container'>
            <div class='row'>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="ratio img-responsive img-circle ping" id="img_profile" style="background-image: url(img/searching.png); cursor: pointer"></div>
        </div>
            </div>
            <div class="row ">
                <div class="col-sm-3 col-xs-6 col-md-3 col-lg-2 col-centered text-center">
                    <div class="searching_text">Search</div>
                </div>
            </div>
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="message">
    <tr>
        <td><b class="unick">{{from}}: </b>{{body}}</td>
    </tr>
</template>
